*.a
*.sw*

*.cmake
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json
moc_*
*.moc

genesis.json
hardfork.hpp

libraries/utilities/git_revision.cpp

libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

programs/cli_wallet/zos_cli
programs/js_operation_serializer/js_operation_serializer
programs/witness_node/zos_node
programs/store_node/store_node

tests/app_test
tests/chain_bench
tests/chain_test
tests/intense_test
tests/performance_test
tests/cli_test
tests/zoscli_test
tests/cli_wallet_test/zos_cli_test
tests/zoscli/zoscli_test

doxygen

wallet.json 
zos_node_data_dir

*.wallet

programs/witness_node/object_database/*

object_database/*

*.pyc
*.pyo

.vscode
libraries/fc/git_revision.cpp
libraries/fc/vendor/editline
libraries/fc/tests
libraries/fc/vendor/secp256k1-zkp
libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
programs/build_helpers/cat-parts
programs/build_helpers/member_enumerator
programs/delayed_node/delayed_node
programs/genesis_util/convert_address
programs/genesis_util/genesis_update
programs/genesis_util/get_dev_key
programs/size_checker/size_checker
tests/generate_empty_blocks/generate_empty_blocks
CMakeDoxyfile.in
programs/store_node/store_node
